<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>UltimateAngularJS - Ben's Starter Course Angular App</title>
	<script src="js/angular.js"></script>
</head>
<body>

	<div ng-controller="MainController">
		{{ name }}
	</div>

	<script src="js/app.js"></script>
	<script src="js/MainController.js"></script>
</body>
</html>