<!doctype html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<title>To Do Client</title>
		<link rel="icon" type="image/x-icon" href="img/favicon.ico">
		<link rel="stylesheet" href="css/style.css">
		<script src="js/libs/angular.js"></script>
	</head>
	<body>
		<div class="todo" ng-controller="ToDoController as todo">
			<form class="todo__form" ng-submit="todo.addToDo();">
				<input type="text" placeholder="Add new to do item!" ng-model="todo.newToDo">
			</form>
			<ul class="todo__list" ng-if="todo.list.length > 0">
				<li ng-repeat="item in todo.list">
					<input type="checkbox" id="todo-{{ $index }}" ng-model="item.completed">
					<label class="toggle" for="todo-{{ $index }}"></label>
					<p ng-dblclick="showEditField = true;" ng-hide="showEditField">
						{{ item.title }}
					</p>
					<div ng-show="showEditField">
						<input
							type="text"
							ng-model="item.title"
							ng-blur="showEditField = false;">
					</div>
					<a href="" ng-click="todo.removeToDo(item, $index);">&#215;</a>
				</li>
			</ul>
			<p class="todo__remaining">
				<span ng-show="todo.getRemaining().length > 0">
					You have {{ todo.getRemaining().length }} of {{ todo.list.length }} items left!
				</span>
				<span ng-show="todo.getRemaining().length === 0">
					All done!
				</span>
			</p>
		</div>

		<script src="js/app.js"></script>
		<script src="js/todo.controller.js"></script>
	</body>
</html>
